body {
  background-color:green;
  margin: 25px;
}

h1 {
  background-color:DarkGreen; 
  color: LightGreen; 
  padding: 10px;
}

h2 {
  background-color:DarkGreen; 
  color: LightGreen; 
  padding: 10px;
}

p {
  background-color:DarkGreen; 
  color: LightGreen;  
  padding: 10px;
}

img {
  width:35px;
  height:35px;"
}

ansOne {
  display:hidden;
}
flagOne {
  display:hidden;
}
